@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./globals";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: var(--normal-font-size);
  background: var(--container-color);
}
body {
  margin: 70px 0 0 0;
  
  color: var(--text-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--body-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}
input{
  border: none;
  outline: none;
  background: var(--body-color);
}